

  .Padding {
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .dnb {

    width: 117px;
    height: 60px;

  }

  .nav {
    cursor: pointer;
    width: 122px;
    height: 77px;
  }

  .navbody {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .outerDivSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .formControl{
    display: flex;
    flex: 4;
    margin-top: 15%;
    width: 200px;
    height: 60px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
  }

  .searchField{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
  }

  .navpage_logo {
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 77px;
  }

  .bronnoysund {

    width: 180px;
    height: 22px;
  }

  .ComputerImg {
    width: 300px;
    height: 195px;
    align-items: center;
    justify-content: center;
  }

  .Header_img {
    height: auto;
    width: 100%;
  }

  .Helppoint_text {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
  }



  .Home_body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex: 1;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 10px;
  }

.Bottom {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-align: center;
  color: black;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 20px;
}
.header-image{
  height: 40px;

}

.App-logo {
  height: 300px;
}
/*
<img src={require('./components/images/LOGO.png')} className="App-logo" alt="logo" />
*/

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  background-color: #2c3e50;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: large;


}

.header-image{
  display: flex;
  flex: 5;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width:20%;
  color: white;
  font-size: large;

}

.header-buttons{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 60%;
    width:20%;
    color: white;
    font-size: large;

}
.header-textphoto{
  font-size: 35px;

}
.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15%;
  background-color: #95CAFE;
  color: white;
  font-size: large;


}
.App-main{
  display: flex;
  flex-grow: 11;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #95CAFE;
  padding: 20px;
  color: white;


}

.App-intro {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: large;
}
.low-text {
  background-color: #95CAFE;
  text-align: center;
  padding: 20px;
  color: white;

}
.under-Div{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  padding: 20px;
  color: #ffffff;
  font-size: large;


}
.info{
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.under-info {
  height: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.info-image {
  height: 40px;
}
.home-main {
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #95CAFE;
  padding: 20px;
  color: white;

}
.home-info{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-buttons{
  display: flex;
  flex-grow: 1;

  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.home-image {
  height: 300px;
}

.list-container {
  display: flex;
  flex-grow: 10;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #95CAFE;
  padding: 20px;
  color: white;


}
.list-main {
  display: flex;
  flex-grow: 1;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  border: 5
}
.list-image {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.list-text {
  flex-grow: 8;
  text-align: left;
  flex-direction: column;
  color: white;

}

.queue-info-main{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #95CAFE;
  padding: 20px;
  color: white;


}
.queueinfo{
  background-color: #2c3e50;
  flex: 1;
  padding-left: 60px;
  padding-right: 60px;
}
.inqueue-text{
    font-size: 30px;
}
.inqueue-header{
    font-size: 30px;
}
.info-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: #2c3e50;
  padding-left: 20px;
  color: white;

}
.info-header{
  display: flex;
  flex-grow: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: white;

}
.inQueue-info{
  height: 130px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: white;

}
.createQueue-info{
  height: 95px;
  width: 300px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  color: white;

}

.info-scale{
  width: 50%;
}
.create-image{
  height: 250px;
  width: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media all and (max-width: 500px) {
  .App-header {
    flex: 1 100%;
  }
  .header-textphoto{
    width: 100%;
  }
  .header-image{
    display: flex;
    flex: 3;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 90%;
    width:20%;
    color: white;
    font-size: large;

  }
  .header-buttons{
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 40%;
      width:20%;
      color: white;
      font-size: large;

  }
  .header-textphoto{
    font-size: 20px;

  }
  .queueinfo{
    background-color: #2c3e50;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
  }
  .inqueue-text{
      font-size: 20px;
  }
  .info-scale{
    width: 70%;
  }
  .create-image{
    height: 200px;
    width: 200px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
